vaadin-scroller[slot="drawer"] {
    padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    min-height: var(--lumo-size-xl);
    box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
    display: none;
}
.auto-grid-date-filter {
    display: flow-root;
}
.auto-grid-number-filter {
    display: flow-root;
}
decimal-field {
    padding: 0;
}

.order-first {
    order: -9999;
}


vaadin-grid,
vaadin-upload,
vaadin-checkbox,
vaadin-combo-box,
vaadin-text-area,
vaadin-text-field,
vaadin-date-picker,
vaadin-time-picker,
vaadin-email-field,
vaadin-custom-field,
vaadin-number-field,
vaadin-integer-field,
vaadin-password-field,
vaadin-multi-select-combo-box {
    padding: 0.5rem 0.1rem 0.1rem;
    font-size: var(--lumo-font-size-s);
    --lumo-text-field-size: var(--lumo-size-s);
}


vaadin-menu-bar.separate-buttons::part(container) {
    gap: var(--lumo-space-xs)
}

vaadin-menu-bar.separate-buttons vaadin-menu-bar-button {
    border-radius: var(--lumo-border-radius-m)
}


vaadin-login-overlay-wrapper::part(brand) {
    padding: 0 !important;
}

vaadin-login-overlay-wrapper::part(description) {
    margin: 10px !important;
}

vaadin-login-form-wrapper::part(footer) {
    font-weight: 600;
}

vaadin-tabs {
    background: var(--lumo-contrast-10pct);
    border-radius: calc(var(--lumo-border-radius-s) + 3px);
    min-height: var(--lumo-size-m);
    box-shadow: none;
}

vaadin-tabs::part(tabs) {
    padding: 3px;
    min-height: inherit;
    box-sizing: border-box;
    margin: 0.3rem;
}

vaadin-tabsheet {
    box-sizing: border-box
}

vaadin-tabsheet::part(tabs-container) {
    box-shadow: none;
    padding: 0 0 1rem;
}

vaadin-tabsheet::part(content) {
    padding: 0;
    padding-bottom: var(--view-content-inset-bottom)
}

vaadin-tabsheet > vaadin-tabs {
    margin: 0
}

vaadin-tabsheet[theme~=bordered] {
    border-color: var(--lumo-contrast-10pct);
    border-top-left-radius: calc(var(--lumo-border-radius-s) + var(--lumo-space-s));
    border-top-right-radius: calc(var(--lumo-border-radius-s) + var(--lumo-space-s))
}

vaadin-tabsheet[overflow~=top]::part(content) {
    border-top: 1px solid var(--lumo-contrast-10pct)
}

vaadin-tabsheet:not([theme~=bordered])[overflow~=bottom]::part(content) {
    border-bottom: 1px solid var(--lumo-contrast-10pct)
}

vaadin-tab:before, vaadin-tab:after {
    display: none
}

vaadin-tab {
    font-weight: 600;
    border-radius: var(--lumo-border-radius-m);
    transition: color .16s, background-color .16s, box-shadow 60ms, transform .2s, -webkit-backdrop-filter .2s, backdrop-filter .2s;
    padding: var(--lumo-space-xs) var(--lumo-space-m)
}

vaadin-tab[selected] {
    color: var(--lumo-primary-color-50pct);
    -webkit-backdrop-filter: brightness(1.06);
}

vaadin-tab[active] {
    transform: scale(.98);
    transition-duration: 50ms
}

vaadin-tab[selected]:not([focus-ring]) {
    box-shadow: 0 0 0 1px var(--lumo-shade-5pct), 0 1px 1px 0 var(--lumo-shade-5pct);
}
