@import url("./main-layout.css");

/* Views */
@import url("./view/login.css");
@import url("./view/customer.css");
@import url("./view/change-password.css");
@import url("./view/popover-user-menu.css");
@import url("./view/pricing-view.css");
@import url("./view/popover-notification-panel.css");

/* Components */
@import url("./components/toggle-button.css");
@import url("./components/customer-card.css");
@import url("./components/vaadin-checkbox.css");
@import url("./components/multi-select-combo-box.css");
@import url("./components/button.css");
@import url("./components/breadcrumb.css");
@import url("./components/tab-menu-item.css");
@import url("./components/selection-toolbar.css");
@import url("./components/sidebar.css");
@import url("./components/list.css");
@import url("./components/image-gallery-view.css");
@import url("./components/upload.css");

:root {
  --lumo-base-color: #f5f5f5;
  --lumo-body-text-color: #2a2e35;
  --lumo-contrast: #17222f;
  --lumo-contrast-10pct: #1b2e401a;
  --lumo-contrast-20pct: #1b2e4029;
  --lumo-contrast-30pct: #1b2e4042;
  --lumo-contrast-40pct: #1b2e4061;
  --lumo-contrast-50pct: #1b2e4085;
  --lumo-contrast-5pct: #1b2e400d;
  --lumo-contrast-60pct: #1b2e4099;
  --lumo-contrast-70pct: #1b2e40b0;
  --lumo-contrast-80pct: #1b2e40d4;
  --lumo-contrast-90pct: #1b2e40f0;
  --lumo-disabled-text-color: #1b2e4042;
  --lumo-error-color: #e57368;
  --lumo-error-color-10pct: #d952311a;
  --lumo-error-color-50pct: #d9523180;
  --lumo-error-contrast-color: #ffffff;
  --lumo-error-text-color: #921f18;
  --lumo-heading-text-color: #17222f;
  --lumo-primary-color: #44a9d1;
  --lumo-primary-color-10pct: #44a9d121;
  --lumo-primary-color-50pct: #44a9d1c2;
  --lumo-primary-contrast-color: #ffffff;
  --lumo-primary-text-color: #3289b1;
  --lumo-secondary-text-color: #1b3a4b;
  --lumo-success-color: #3bb273;
  --lumo-success-color-10pct: #1688461a;
  --lumo-success-color-50pct: #16884680;
  --lumo-success-contrast-color: #ffffff;
  --lumo-success-text-color: #0a7637;
  --lumo-tertiary-text-color: #1c304a85;
  --lumo-user-color-0: #d68b90;
  --lumo-user-color-1: #7a5fa3;
  --lumo-user-color-2: #4e9ab8;
  --lumo-user-color-3: #d9904e;
  --lumo-user-color-4: #bf16f3;
  --lumo-user-color-5: #084391;
  --lumo-user-color-6: #078836;
  --lumo-user-holiday: #ff1a1a;
  --lumo-warning-color: #f9a825;
  --lumo-warning-color-10pct: #f9a82540;
  --lumo-warning-text-color: #7a4e00;
  --lumo-warning-contrast-color: #ffffff;
  --lumo-border-radius-s: 0.25rem;
  --lumo-border-radius-m: 0.5rem;
  --lumo-border-radius-l: 1rem;
  --vaadin-input-field-background: #fff;
  --vaadin-input-field-hover-highlight: var(--lumo-contrast-30pct);
  --vaadin-input-field-border-width: 1px;
  --vaadin-input-field-border-color: var(--lumo-contrast-30pct);
  --light-background-color: #fff;
  --drawer-background-color: rgba(122, 131, 172, 0.4);
  --drawer-text-color: #fff;
  --lumo-space-xxl: 48px;
}

.card-background-color {
  background-color: var(--light-background-color);
}

.content-max-width {
  max-width: 862px;
}

.column-gap {
  column-gap: 62px;
}

.mt-xxl {
  margin-top: var(--lumo-space-xxl);
}

header {
  background-color: var(--light-background-color);
}

header nav a[highlight] {
  color: var(--lumo-primary-color);
}

header nav a:hover {
  --lumo-header-text-color: var(--lumo-primary-color-50pct);
}

header nav a[highlight] span {
  font-weight: 600;
}

vaadin-button {
  width: 8.75rem;
}

vaadin-upload::part(primary-buttons) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

vaadin-avatar {
  border-radius: 2rem;
  border-color: var(--lumo-contrast);
}

.fc-timegrid-allday {
  display: none;
}

vaadin-dialog-overlay.not-available-dialog::part(overlay) {
  width: 1024px;
}

vaadin-dialog-overlay.appointment-dialog::part(content) {
  padding: 0;
}

@media (min-width: 800px) {
  .two-columns-when-over-800px {
    grid-column: span 2;
  }
  .column-max-width-when-over-800px {
    max-width: 400px;
  }
}

@media (min-width: 600px) {
  .flex-over-600px {
    display: flex;
  }
}

@media screen and (max-width: 1400px) {
  .flex-wrap-layout {
    flex-wrap: wrap;
    min-width: 100%;
  }

  vaadin-dialog-overlay::part(content) {
    padding: var(--lumo-space-s);
  }

  .remove-margin-left-amount-layout {
    margin-left: 0;
  }
}

.avatar-over-700px {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 700px) {
  .avatar-over-700px {
    height: 100px;
    width: 100px;
  }
}
