/target/
.idea/
.vscode/
.settings
.project
.classpath
.factorypath

src/main/bundles/

*.iml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
src/main/frontend/generated/
vite.generated.ts
.env
